name: AF agent workflow
on: 
  push:
    branches: 
      - main
  pull_request:
    branches:
      - main
jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: docker build
        run: |
          docker build -t myapp:latest . 
      - name: Run tests
        run: | 
          docker run myapp:latest pytest
    


